<!doctype html>
<html ng-app="myApp">
<head>
    <script src="bower_components/angular/angular.js"></script>
</head>
<body>
    <div ng-controller="ArtistController">
        Artists: <input type="text" ng-model="name">
        <div>
            <ul>
                <li ng-repeat="artist in artists | filter:name">
                    {{ artist }}
                </li>
            </ul>
        </div>
    </div>
    <script>
        var myApp = angular.module('myApp', []);
        myApp.controller('ArtistController', function ArtistController($scope) {
            $scope.artists = ['Baschi CD', 'John Petrucci', 'John Lennon'];
        });
    </script>
  </body>
</html>
